{% extends 'base.html.twig' %}

{% block title %}New Payement{% endblock %}

{% block body %}

    <h1 style="color: #3378F1; font: 600; margin-left: 20px; margin-buttom: 20px; width: 96%; font-weight: 600;">Ajouter un Paiement</h1>

    {{ include('payement/_form.html.twig') }}

{% endblock %}
