{% extends 'base.html.twig' %}

{% block title %}New Gestionmatire{% endblock %}

{% block body %}

    <h1 style="color: #3378F1; font: 600; margin-left: 20px; margin-buttom: 20px; width: 96%; font-weight: 600;">Ajouter une matière pour un prof</h1>

    {{ include('gestionmatire/_form.html.twig') }}

{% endblock %}
