{% extends 'base.html.twig' %}

{% block title %}New Centre{% endblock %}

{% block body %}

    <h1 style="color: #3378F1; font: 600; margin-left: 20px; margin-buttom: 20px; width: 96%; font-weight: 600;">Ajouter un centre</h1>


    {{ include('centre/_form.html.twig') }}

{% endblock %}
