{% extends 'base.html.twig' %}

{% block title %}New Listpayment{% endblock %}

{% block body %}
    <h1>Create new Listpayment</h1>

    {{ include('listpayment/_form.html.twig') }}

    <a href="{{ path('app_listpayment_index') }}">back to list</a>
{% endblock %}
