{% extends 'base.html.twig' %}

{% block title %}New Matire{% endblock %}

{% block body %}

    <h1 style="color: #3378F1; font: 600; margin-left: 20px; margin-buttom: 20px; width: 96%; font-weight: 600;">Ajouter une Matière</h1>

    {{ include('matire/_form.html.twig') }}

{% endblock %}
