{% extends 'base.html.twig' %}

{% block title %}plannings d'exams{% endblock %}

{% block body %}

<div class="index" style='box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); border-radius: 10px; border: 1px solid #dddfe2; padding: 15px;'>
    <div class="head-index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 10px">
        <h1 style="color: #3378F1; font-weight: 600;">le planning d'exams </h1>
    </div>

    <div class="content">
        <div class="row">
            {% for exam in exams %}
                {% for etudiant in etudiants %}
                    {% if exam.souscategory == etudiant.souscategory and etudiant.cne == app.user.cne and etudiant.centre == app.user.centre %}
                        <a href="../../../../uploads/pdf/{{ exam.examplan }}" class="col-xl-3 col-sm-6" target="_blank">
                            <div class="card">
                                <div class="card-img-actions">
                                    <img class="card-img-top img-fluid" src="../../../../global_assets/images/placeholders/placeholder.jpg" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6 class="font-weight-semibold mb-0"> {{exam.souscategory}} </h6>
                                    <span class="d-block text-muted"> {{exam.title}} </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}